@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.maps__unexplored {
  background: radial-gradient(50% 50% at 50% 50%, #e6042c 0%, #01317b 100%);
}

.maps__explored {
  background: radial-gradient(50% 50% at 50% 50%, #01317b 0%, #e6042c 100%);
}

/* INDEX PAGE */

.index_container {
  height: 100vh;
  width: 100vw;
  position: relative;
  text-align: center;
  color: white;
  background-color: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index_background_cover {
  height: 150vh;
  width: 90vw;
  margin-top: -10vh;
}
.index_heading_line1 {
  font-size: 48px;
  font-weight: 800;
  font-family: Orbitron;
  color: #f5f5f5;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.home__gradient {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0%;
  left: 0%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

@media screen and (max-width: 1500px) {
  .index_heading_line1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 550px) {
  .index_heading_line1 {
    font-size: 24px;
    top: 40%;
    left: 50%;
  }

  .index_background_cover {
    height: 100vh;
    width: 100vw;
    margin-top: 0vh;
  }
}

/* ARENA PAGE */

.arena_screen {
  background-color: #130832;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.main_arena_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 7rem;
}

.left_arena_container {
  margin-left: 5vw;
  height: 80vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.arena_heading_white {
  font-size: 60px;
  font-weight: 800;
  font-family: Orbitron;
  color: #f5f5f5;
  margin-bottom: -1rem;
}
.arena_heading_red {
  font-size: 60px;
  font-weight: 800;
  font-family: Orbitron;
  color: #c62f41;
  margin-bottom: 1rem;
}

.arena_body_text {
  font-size: 28px;
  font-weight: 500;
  font-family: Roboto;
  color: #f5f5f5;
}

.arena_end_text_white {
  margin-top: 1rem;
  font-size: 46px;
  font-weight: 800;
  font-family: Orbitron;
  color: #f5f5f5;
}
.arena_end_text_red {
  font-size: 46px;
  font-weight: 800;
  font-family: Orbitron;
  color: #c62f41;
}

.arena_right_container {
  height: 80vh;
  width: 30vw;
  margin-right: 10vw;
  background-color: #eff3f2;
  border-radius: 12px;
}

@media screen and (max-width: 1600px) {
  .left_arena_container {
    height: 70vh;
  }

  .arena_heading_white {
    font-size: 40px;
  }
  .arena_heading_red {
    font-size: 40px;
  }

  .arena_body_text {
    font-size: 18px;
  }

  .arena_end_text_white {
    font-size: 24px;
  }
  .arena_end_text_red {
    font-size: 24px;
  }

  .arena_right_container {
    height: 70vh;
    width: 25vw;
  }
}

@media screen and (max-width: 768px) {
  .main_arena_container {
    display: inline;
    margin-top: 0rem;
    padding-top: 0rem;
  }

  .left_arena_container {
    width: max-content;
    height: max-content;
    margin-top: 5rem;
  }
  .arena_heading_white {
    font-size: 34px;
  }
  .arena_heading_red {
    font-size: 34px;
  }
  .arena_body_text {
    font-size: 12px;
  }

  .arena_end_text_white {
    font-size: 18px;
  }
  .arena_end_text_red {
    font-size: 18px;
  }

  .arena_right_container {
    margin-top: 2rem;
    margin-left: 12rem;
    height: 20rem;
    width: 16rem;
    border-radius: 8px;
  }
}

@media screen and (max-width: 540px) {
  .left_arena_container {
    margin-left: 5rem;
  }

  .arena_right_container {
    margin-left: 5rem;
    height: 16rem;
    width: 12rem;
    border-radius: 5px;
  }

  .arena_heading_white {
    font-size: 24px;
  }
  .arena_heading_red {
    font-size: 24px;
  }
  .arena_body_text {
    font-size: 10px;
  }

  .arena_end_text_white {
    font-size: 14px;
  }
  .arena_end_text_red {
    font-size: 14px;
  }
}

.filterMenuModal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 1015;
}

@media screen and (max-width: 768px) {
  .filterMenuModal {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
